#notificationsbox{
    width: calc(100vw - 310px);
    height:calc(100vh - 280px) ;
    margin: 20px;
    /* border: 1px solid black; */
    position: absolute;
    left:270px;
    top:230px;
    /* display: grid;
    grid-template-columns: repeat(3,calc(calc(100vw - 400px) / 3)); */
    /* gap: 10px; */
    align-items: center;
    justify-content: space-around;
    /* background-color: aliceblue; */
}

#childbox{
    /* margin: 20px; */
    height: 100%;
    /* border: 1px solid red; */
    padding: 20px;
    box-shadow: 0px 3px 5px 1px rgb(128, 128, 128) inset;
    border-radius: 20px;
    position: relative;
    overflow-y: auto;
    background-color: rgb(224, 224, 224);
}

#taskchilds{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    column-gap: 20px;
    row-gap: 20px;
    /* height: 100%; */
    margin-top: 20px;
}

#headertodopart h4{
    padding: 3px;
    min-width: 25px;
    background-color: yellow;
    border-radius: 50%;
    text-align: center;
}

#tickmark{
    background-color: red;
    padding: 3px;
    border-radius: 7px;
}


#headerpart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    /* position: sticky;
    top:0px; */
}

#headerpart img{
    width:20px;
}

#headertodopart{
    display: flex;
    min-width:15%;
    max-width: 60%;
    /* background-color: aqua; */
    justify-content: space-around;
    align-items: center;
}

hr{
    height: 4px;
    background-color: rgb(255, 81, 0);
}

#taskspreview{
    /* border: 1px solid green; */
    margin-top: 20px;
    padding: 40px;
    box-sizing: border-box;
    /* background-color:red ; */
    border-radius: 20px;
    box-shadow: 0px 3px 5px 1px rgb(104, 104, 104);
    /* height: 40%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(255, 255, 255)
}

#tasksheader{
    display: flex;
    justify-content: space-between;
    align-items:center ;
}

#msgbyuser h4{
    color: rgb(105, 105, 105);
}

#msgbyuser{
    width: 80%;
    /* border:1px solid black; */
}

.from{
    background-color: rgb(255, 196, 118);
    max-width: 400px;
    padding: 5px;
    border-radius: 10px 0px;
}

#deadline{
    /* background-color: rgb(0, 255, 13); */
    /* display: flex */
}

#deadline h4{
    justify-self:right;
    /* background-color: azure; */
    color: rgb(105, 105, 105);
}

#btnt{
    display: block;
    height:45px;
    /* width: 200%; */
    /* position: relative; */
    /* left: -50%; */
    font-size: 20px;
    border-radius: 20px;
    background: linear-gradient( to bottom,rgb(255, 87, 9),rgb(133, 38, 0));
    outline: none;
    border: none;
    color: white;
    box-shadow: 0px 3px 5px 1px rgb(104, 104, 104);
    padding: 5px;
}
